.Home{

    padding: 454px 0 0 201px;
    & .Home__backgroud{
        overflow: hidden;
        position: absolute;
        width:100vw;
        height:100vh;
        z-index: -1;
        top:0;
        left:0;

        & video{
            width: 100vw;
        }
    }
    & .Home__mainText{
        max-width:1022px;
        max-height:128px;
        color: #FFFFFF;
        
        & h1{
            font-family: RalewayEXLight;
            font-style: normal;
            font-size: 64px;
            line-height: 64px;
            max-height:128px;
            letter-spacing: -5px;
        }
        & p{
            margin:10px 0 0 0;
            font-family: RalewayLight;
            font-style: normal;
            font-size: 28px;
            line-height: 34px;

            
        }
    }

    & .Home_Circle{
        & .arrow{
            width:54px;
            height:54px;
            border-radius: 50%;
            border: 2px solid rgba(255, 255, 255, 0.3);

            position: absolute;
            bottom:50px;

            left:50%;
            transform: translateX(-50%);

            cursor: pointer;

            & img{
                margin:10px auto;
                display: block;
                transition: 0.15s all;
                
            }

            &:hover img{
                margin:13px auto;
                
            }
        }
    }
}