.Contacts{
    width:100vw;
    height:100vh;
    padding: 464px 0px 0px 0px;
    & h1{
        
    
        
        font-style: normal;
        font-weight: 900;
        font-size: 96px;
        line-height: 90px;
        text-transform: uppercase;
        text-align: center;
        
    }
}